page-about {

    ion-content{
        background: linear-gradient(-45deg, #EAF4FA, rgba(188, 191, 194, 0.94));
    }

    strong{
    color:red;
    font-size: 16.6px;
}

em{
    color:goldenrod;
    font-size: 15px;
}
}
