page-rec {

ion-content{
    background: linear-gradient(-45deg, #CAD7E6, #80A0CC);
}

    strong{
        color:red;
    }
    h2{
        color:goldenrod;
    }
    h4{
        color: #412068
    }
    p{
        color:rgba(31, 28, 28, 0.98)
    }
}
