page-home {

    ion-content{
        
        background: #A6C5F7;
        
        background: -webkit-linear-gradient(-45deg, #4E7BAA, #293E63);
        
        background: linear-gradient(-45deg, #619EDF, #061F44);
        margin: 0;
        padding: 0;
      }
      #nav{
          border-color: black;
          border-width: 5px;
          background-color:grey;
      }
    img{
        width: 100%;
        height: auto;
        
    }
    #but{
        color:#FAFAFA;
        opacity:1;
    }
    h1{
        text-align: center;
        font-weight: bold;
        color:orange;
    }
    h5{
        text-align:center;
        font-family:"Comic Sans MS";
        color:#3B083B;
        
}


}  

